h1{
    
background-color: blue;
    font-family: arial;
    
    
}

body{
    
    background-color: lightblue;
    
}

h3.superputeri{
    font-family: fantasy,arial;
    font-size: medium;
    background-color: red;
}


